.out{	
	width: 98%;
	height: 860px;
	border-radius: 20px;
	background-color: hsl(0, 0%, 47%);
	padding: 1.5%;
	}
h1{
    font-size: 30px;
    color: white;
    font-family: HY헤드라인M;
	}
	
header{
	margin-top: 10px;
	}
fieldset{
	border-radius: 13px;	
	}
fieldset#head1{
	border: 3px solid #FF0000;
	height: 30px;
	width: 32%;
	float: right;
	background-color: #FF0000;
	}
fieldset#head2{
	border: 3px solid #2E64FE;
	height: 30px;
	width: 32%;
	float: right; 
	margin-left: 23px; 
	margin-right: 23px;
	background-color: #2E64FE;
	}
fieldset#head3{
	border: 3px solid #FFBF00;
	height: 30px;
	width: 32%;
	background-color: #FFBF00;
	}
	
nav{
	margin-top: 10px;
	}
#content1{
	width: 32%;
	height:710px;
	float: right;
	background-color: white;
	}
#content2{
	width: 32%;
	height:350px;
	float: right; 
	margin-left: 23px; 
	margin-right: 23px;
	background-color: white;
	}
#content3{
	width: 32%;
	height:650px;
	background-color: white;
	}
#content4{
	border: 3px solid #FFBF00;
	width: 32%;
	height:30px;
	float: right; 
	margin-left: 23px; 
	margin-right: 23px;
	margin-top:-290px;
	background-color: #FFBF00;
	}
#content5{
	width: 32%;
	height:255px;
	float: right; 
	margin-left: 23px; 
	margin-right: 23px;
	margin-top:-253px;
	background-color: white;
	}
#content6{
	border: 3px solid orange;
	width: 66%;
	height:50px;
 	float:left;
 	margin-right:20px;
 	margin-top: 10px;
	background-color: orange;
	}
/* =======================전체 메인보드 END================== */
/* =====================영화 선택 테이블================ */
/* ============================관,시간선택 css=========================== */

/* =====================영화선텍 테이블 END=================== */
